header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

nav > a {
  padding: 10px;
  text-align: center;
  background: grey;
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

figcaption {
  font-size: 50%;
  text-align: center;
}

#featured-property p {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

#details {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#details div {
  float: left;
  text-align: center;
  width: 25%;
  background: grey;
}
